
/* Nav Styles */

nav {
  background-color: white;
  height: 63px;
}

.logo {
  height:50px;
}

nav .brand-logo {
  padding: 7px;
}

nav ul li a {
  color: #006a72;
}

nav ul a.btn {
  margin-top: 13px;
}

/* Header Section */

.header-section {
  background-image: url('../images/leaders.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
}

.header-rsvp-btn {
  margin-top: 45%;
}


/* Event Detail Icon Section */

.event-detail {
  /*margin-top: -5%;*/
}

.event-detail-section {
  margin: 0px auto 5% auto;
}

.event-detail-icons {
  display: block;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.event-detail-label {
  text-align: center;
  font-size:20px;
}

.speaker-list {
  margin-top: -10px;
}

/* Event Description */

.event-description {
  font-size: 30px;
  text-align: center;
}

/* RSVP Form */

.submit-wrapper {
  text-align: center;
  margin-top: 20px;
}
